{
  "ReceiptsFunction": {
    "TABLE_NAME": "your-table-name",
    "BUCKET_NAME": "your-bucket-name",
    "ALLOWED_ORIGIN": "http://localhost:5184"
  },
  "ProcessFunction": {
    "BUCKET_NAME": "your-bucket-name",
    "ALLOWED_ORIGIN": "http://localhost:5184"
  }
}
